body {
    background-color: #fff;
}

@media (min-width: 1281px) {
    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }

    nav {
        background-color: #E5E5E5;
        height: 93px;
        width: 100%;

    }

    .enlace {
        position: absolute;
        padding: 20px 58px;
    }

    .logo {
        width: 109px;
        height: 60px;
    }

    .elementosextra {
        position: absolute;
        top: 20px;
        /* Cambia este valor según lo necesites */
        right: 100px;
        display: flex;
        align-items: center;
    }

    .elementosextra a {
        margin-left: 10px;
    }

    .cambiodioma {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;

    }

    .logoargentina {
        width: 40px;
        height: auto;
    }


    .hover-image {
        right: 0px;
        visibility: hidden;
        position: absolute;

    }

    /* Mostramos la imagen de hover al hacer hover en el contenedor */
    .cambiodioma:hover .hover-image {
        visibility: visible;
        /* Mostramos la imagen de hover al hacer hover en el contenedor */
    }

    nav ul {
        float: right;
        margin-right: 400px;
    }

    nav ul li {
        display: inline-block;
        line-height: 93px;
        margin: 0 10px;
    }

    nav ul li a {
        text-align: center;
        text-decoration: none;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #000;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }

    li a:hover {
        color: #fff;
        background-color: #000;
        transition: .5;
    }

    .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 93px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }


    .contenedortitulo {
        display: flex;
        width: 270px;
        height: 90px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        margin: 60px 40vw 40px;
    }

    .contenedortitulo h1 {

        color: #000;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;



    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        text-align: left;
        margin-bottom: 80px;

    }

    .segundocontenedor {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contenedorimagen {
        width: 500px;
        height: 624.962px;
        flex-shrink: 0;
        margin-left: 40px;
    }

    .imagen {
        width: 500px;
        height: auto;
    }

    .contenedortexto {
        display: flex;
        width: 580px;
        height: 719px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    }

    .texto {
        color: #000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        /* 166.667% */
    }

    .pie {
        background-color: #E5E5E5;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .imagenpie {
        display: flex;
        justify-content: center;
        width: 109px;
        height: auto;
        align-items: start;
        flex: 0.5;
    }

    .imagenpie img {

        width: 109px;
    }

    .derechospie {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1.5;
    }

    .derechospie p {
        color: #000;
        font-size: 16px;

    }

    .datospie {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        flex: 1;
    }

    .ubicacion {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex: 1;
    }

    .ubicacion img {
        width: 18px;
        height: 19px;
    }

    .email img {
        width: 21.5px;
        height: 24px;
    }

    .ubicacion p,
    .email p {
        padding-left: 5px;
        font-size: 16px;
        text-align: center;
        color: #000;
        margin: 0;
    }



    .email {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex: 1;
    }
}

@media (min-width:1070px) and (max-width: 1280px) {

    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }

    nav {
        background-color: #E5E5E5;
        height: 93px;
        width: 100%;

    }

    .enlace {
        position: absolute;
        padding: 20px 58px;
    }

    .logo {
        width: 109px;
        height: 60px;
    }

    .elementosextra {
        position: absolute;
        top: 20px;
        /* Cambia este valor según lo necesites */
        right: 100px;
        display: flex;
        align-items: center;
    }

    .elementosextra a {
        margin-left: 10px;
    }

    .cambiodioma {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;

    }

    .logoargentina {
        width: 40px;
        height: auto;
    }


    .hover-image {
        right: 0px;
        visibility: hidden;
        position: absolute;

    }

    /* Mostramos la imagen de hover al hacer hover en el contenedor */
    .cambiodioma:hover .hover-image {
        visibility: visible;
        /* Mostramos la imagen de hover al hacer hover en el contenedor */
    }

    nav ul {
        float: right;
        margin-right: 300px;
    }

    nav ul li {
        display: inline-block;
        line-height: 93px;
        margin: 0 10px;
    }

    nav ul li a {
        text-align: center;
        text-decoration: none;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #000;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }

    li a:hover {
        color: #fff;
        background-color: #000;
        transition: .5;
    }

    .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 93px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }


    .contenedortitulo {
        display: flex;
        width: 270px;
        height: 90px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        margin: 60px 40vw 40px;
    }

    .contenedortitulo h1 {

        color: #000;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;



    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        text-align: left;
        margin-bottom: 80px;

    }

    .segundocontenedor {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contenedorimagen {
        width: 400px;
        height: auto;
        flex-shrink: 0;
        margin-left: 30px;
    }

    .imagen {
        width: 400px;
        height: auto;
    }

    .contenedortexto {
        display: flex;
        width: 580px;
        height: 719px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    }


    .texto {
        color: #000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        /* 166.667% */
    }

    .pie {
        background-color: #E5E5E5;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .imagenpie {
        display: flex;
        justify-content: center;
        width: 109px;
        height: auto;
        align-items: start;
        flex: 0.5;
    }

    .imagenpie img {

        width: 109px;
    }

    .derechospie {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1.5;
    }

    .derechospie p {
        color: #000;
        font-size: 16px;

    }

    .datospie {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        flex: 1;
    }

    .ubicacion {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex: 1;
    }

    .ubicacion img {
        width: 18px;
        height: 19px;
    }

    .email img {
        width: 21.5px;
        height: 24px;
    }

    .ubicacion p,
    .email p {
        padding-left: 5px;
        font-size: 16px;
        text-align: center;
        color: #000;
        margin: 0;
    }



    .email {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex: 1;
    }
}

@media (min-width: 768px) and (max-width: 1069px) {

    .checkbtn {
        position: absolute;
        right: 20px;
        padding-top: 10px;

    }

    #check {
        display: none;
    }

    nav {
        position: relative;
        background-color: #E5E5E5;
        height: 50px;
        width: 100%;
        margin-top: 0px;
        top: 0;

    }


    .enlace {
        position: absolute;
        top: 10px;
        padding: 0px 20px;
    }

    .logo {
        width: 60px;
        height: 33px;
    }

    .elementosextra {
        position: absolute;
        top: 10px;
        right: 120px;

    }

    .logolinkein,
    .logoinstagram,
    .logoargentina {
        width: 20px;
        height: 20px;

    }

    .elementosextra a {
        margin-left: 5px;
    }

    .cambiodioma {
        position: absolute;
        top: 10px;
        right: 80px;
        display: flex;
        align-items: center;

    }


    .hover-image {
        width: 20px;
        right: 0px;
        bottom: 0;
        visibility: hidden;
        position: absolute;

    }

    /* Mostramos la imagen de hover al hacer hover en el contenedor */
    .cambiodioma:hover .hover-image {
        visibility: visible;
        /* Mostramos la imagen de hover al hacer hover en el contenedor */
    }


    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #000;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 20px;
        color: #fff;
    }

    li a:hover {
        background: none;
        color: white;
    }

    #check:checked~ul {
        left: 0;
    }

    .contenedortitulo {
        display: flex;
        width: 270px;
        height: 90px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        margin: 60px 34.5vw 20px;
    }

    .contenedortitulo h1 {
        color: #000;

        text-align: center;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;



    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        text-align: left;
        margin-bottom: 60px;

    }

    .segundocontenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedorimagen {
        order: 1;
        width: 300px;
        height: auto;
        flex-shrink: 0;
    }

    .imagen {
        width: 300px;
        height: auto;
    }

    .contenedortexto {
        order: 2;
        display: flex;
        width: 500px;
        height: auto;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        margin-top: 30px;
    }

    .texto {
        color: #000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        /* 142.857% */
    }

    .pie {
        background-color: #E5E5E5;
        width: 100%;
        height: 32px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .imagenpie {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: auto;
        padding-left: 20px;
        flex: 0;
    }

    .imagenpie img {
        width: 60px;
    }

    .derechospie {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;
    }

    .derechospie p {
        color: #000;
        font-size: 10px;

    }

    .datospie {
        display: none;
    }




}

@media (min-width: 443px) and (max-width: 767px) {

    .checkbtn {
        position: absolute;
        right: 20px;
        padding-top: 10px;

    }

    #check {
        display: none;
    }

    nav {
        position: relative;
        background-color: #E5E5E5;
        height: 50px;
        width: 100%;
        margin-top: 0px;
        top: 0;

    }


    .enlace {
        position: absolute;
        top: 10px;
        padding: 0px 20px;
    }

    .logo {
        width: 60px;
        height: 33px;
    }

    .elementosextra {
        position: absolute;
        top: 10px;
        right: 75px;

    }

    .logolinkein,
    .logoinstagram,
    .logoargentina {
        width: 20px;
        height: 20px;

    }

    .elementosextra a {
        margin-left: 3px;
    }

    .cambiodioma {
        position: absolute;
        top: 10px;
        right: 50px;
        display: flex;
        align-items: center;

    }


    .hover-image {
        width: 20px;
        right: 0px;
        bottom: 0;
        visibility: hidden;
        position: absolute;

    }

    /* Mostramos la imagen de hover al hacer hover en el contenedor */
    .cambiodioma:hover .hover-image {
        visibility: visible;
        /* Mostramos la imagen de hover al hacer hover en el contenedor */
    }


    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #000;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 20px;
        color: #fff;
    }

    li a:hover {
        background: none;
        color: white;
    }

    #check:checked~ul {
        left: 0;
    }


    #check:checked~ul {
        left: 0;
    }

    .contenedortitulo {
        display: flex;
        width: 270px;
        height: 90px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        margin: 60px 34.5vw 20px;
    }

    .contenedortitulo h1 {
        color: #000;

        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;



    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        text-align: left;
        margin-bottom: 60px;

    }

    .segundocontenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedorimagen {
        order: 1;
        width: 300px;
        height: auto;
        flex-shrink: 0;
    }

    .imagen {
        width: 300px;
        height: auto;
    }


    .segundocontenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedorimagen {
        order: 1;
        width: 200px;
        height: auto;
        flex-shrink: 0;
    }

    .imagen {
        width: 200px;
        height: auto;
    }


    .contenedortexto {
        order: 2;
        display: flex;
        width: 316px;
        height: auto;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        margin-top: 30px;
    }

    .texto {
        color: #000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        /* 142.857% */
    }

    .pie {
        background-color: #E5E5E5;
        width: 100%;
        height: 32px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .imagenpie {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: auto;
        padding-left: 20px;
        flex: 0;
    }

    .imagenpie img {
        width: 60px;
    }

    .derechospie {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;
    }

    .derechospie p {
        color: #000;
        font-size: 10px;

    }

    .datospie {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 442px) {


    .checkbtn {
        position: absolute;
        right: 20px;
        padding-top: 10px;

    }

    #check {
        display: none;
    }

    nav {
        position: relative;
        background-color: #E5E5E5;
        height: 50px;
        width: 100%;
        margin-top: 0px;
        top: 0;

    }


    .enlace {
        position: absolute;
        top: 10px;
        padding: 0px 20px;
    }

    .logo {
        width: 60px;
        height: 33px;
    }

    .elementosextra {
        position: absolute;
        top: 10px;
        right: 75px;

    }

    .logolinkein,
    .logoinstagram,
    .logoargentina {
        width: 20px;
        height: 20px;

    }

    .elementosextra a {
        margin-left: 3px;
    }

    .cambiodioma {
        position: absolute;
        top: 10px;
        right: 50px;
        display: flex;
        align-items: center;

    }


    .hover-image {
        width: 20px;
        right: 0px;
        bottom: 0;
        visibility: hidden;
        position: absolute;

    }

    /* Mostramos la imagen de hover al hacer hover en el contenedor */
    .cambiodioma:hover .hover-image {
        visibility: visible;
        /* Mostramos la imagen de hover al hacer hover en el contenedor */
    }


    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #000;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 20px;
        color: #fff;
    }

    li a:hover {
        background: none;
        color: white;
    }

    #check:checked~ul {
        left: 0;
    }




    .contenedortitulo {
        display: flex;
        width: 270px;
        height: 90px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        margin: 60px 34.5vw 20px;
    }

    .contenedortitulo h1 {
        color: #000;

        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;



    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        text-align: left;
        margin-bottom: 60px;

    }

    .segundocontenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedorimagen {
        order: 1;
        width: 300px;
        height: auto;
        flex-shrink: 0;
    }

    .imagen {
        width: 300px;
        height: auto;
    }


    .segundocontenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedorimagen {
        order: 1;
        width: 200px;
        height: auto;
        flex-shrink: 0;
    }

    .imagen {
        width: 200px;
        height: auto;
    }


    .contenedortexto {
        order: 2;
        display: flex;
        width: 316px;
        height: auto;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        margin-top: 30px;
    }

    .texto {
        color: #000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        /* 142.857% */
    }

    .pie {
        background-color: #E5E5E5;
        width: 100%;
        height: 32px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .imagenpie {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: auto;
        padding-left: 20px;
        flex: 0;
    }

    .imagenpie img {
        width: 60px;
    }

    .derechospie {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;
    }

    .derechospie p {
        color: #000;
        font-size: 10px;

    }

    .datospie {
        display: none;
    }
}